.classpath
.project
.*
!/.gitignore

# Ignore generated output
target/
build/
bin/
out/

# Python compiled files
*.pyc

datanucleus.log

# Ignore intellij files.
*.iml

# Ignore some gradle stuff.
gradle/wrapper/
